.hero-container {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden; /* Ensures children like video stay within */
}

/* Darkened Background Overlay */
.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2; /* Above video/image, below content/widgets */
}

/* Video Wrapper - stabilizes layout and ensures containment */
.video-wrapper,
.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

/* Background Image */
.bg-img {
  width: 100%;
  height: 100%;
  background: url("/earth-globe.jpg") center/cover no-repeat;
  transition: opacity 1s ease-in-out;
}

/* Background Video */
.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Prevent accidental interaction */
  max-width: 100vw;
  object-position: center center;
}

/* TradingView Widgets */
.tradingview-widgets {
  position: absolute;
  width: 100%;
  top: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 4; /* On top of everything except modal if any */
  opacity: 0.6;
}

.tradingview-widget {
  width: 1300px;
  height: auto;
}

.tradingview-widget-container.widget-1 {
  width: 100vh;
  margin-top: 8rem;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 4;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 200;
  line-height: 4rem;
  font-family: "Open Sans", sans-serif;
}

.btn-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 2.5rem;
}

.btn {
  padding: 8px 30px;
  font-size: 15px;
  border: none;
  background-color: #336699;
  color: white;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 2rem;
  margin-top: 2rem;
}

.btn:hover {
  border: 1px solid #336699;
  background-color: transparent;
  color: #336699;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .btn-group {
    flex-direction: row;
  }

  .btn {
    width: 100%;
  }

  .tradingview-widgets {
    opacity: 0.4;
  }
}
